.header {
  padding: 20px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Bubblegum Sans', cursive; /* Use bubble font */
  font-size: 30px;
  font-weight: bold;
  color: #f1f1f1; /* Dark color for the logo */
  text-decoration: none;
  margin-right: 20px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 20px; /* Add padding to create button-like appearance */
  border: 2px solid transparent; /* Add border for button effect */
  border-radius: 20px; /* Add border radius for rounded corners */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.header-right a:hover {
  background-color: rgb(125, 243, 233); /* Change background color on hover */
  color: #333; /* Change text color on hover */
  border-color: rgb(255, 254, 254); /* Change border color on hover */
}

.logo-img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
